@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* Base Styles */
    /* Can be Overrided */
    h1{
        @apply text-xl
    }
}
@layer components{
    /* Group Styles */
    .button{
        @apply px-4 py-1 border rounded-full text-sm font-semibold hover:text-white duration-300 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-offset-1
    }

    .blueButton{
        @apply  border-blue-500  text-blue-500   hover:bg-blue-500  focus:ring-blue-500 dark:text-blue-400 dark:border-blue-400 dark:hover:bg-blue-400 sm:dark:text-blue-300 sm:dark:border-blue-300 sm:dark:hover:bg-blue-300 sm:dark:focus:ring-blue-300
    }

    .greenButton{
        @apply  border-green-500  text-green-500   hover:bg-green-500  focus:ring-green-500  dark:text-green-400 dark:border-green-400 dark:hover:bg-green-400 sm:dark:text-green-300 sm:dark:border-green-300 sm:dark:hover:bg-green-300 sm:dark:focus:ring-green-300
    }
    /* End of group utilties*/
}

@layer utilities{
    /* For Making own utiliy class */
    .text-body{
        font-size: 12px;
    }
}